@model Willians.LojaVirtual.Dominio.Entidade.Pedido

@{ 
    ViewBag.Title = "Willians - Fechar Pedido";
}

<h2>Fechar o Pedido</h2>
<p>Digite suas informações abaixo</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <h3>Enviar Para:</h3>

    <div class="form-group">
        <label>Nome do Cliente:</label>
        @Html.TextBoxFor(d => d.NomeCliente, new {@class="form-control"})
    </div>

    <h3>Dados para Entrega</h3>



    <h3>Opções</h3>
    <div class="checkbox">
        <label>
            @Html.EditorFor(e => e.EmbrulhaPresente) Embrulhar para Presente ?        
        </label>
        @Html.TextBoxFor(d => d.Email, new { @class = "form-control" })
    </div>

    @foreach (var propriedade in ViewData.ModelMetadata.Properties)
    {
        if (propriedade.PropertyName != "NomeCliente" && propriedade.PropertyName != "EmbrulhaPresente")
        {
            <label>
                @propriedade.DisplayName ?? @propriedade.PropertyName
            </label>

            @Html.TextBox(propriedade.PropertyName, null, new { @class = "form-control" })
        }
    }

    <input class="btn btn-primary" type="submit" value="Fechar o Pedido" />
}


